---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getEntry, getCollection } from 'astro:content';
const homepage = await getEntry('homepage', 'index');
const { Content } = await homepage.render();


---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }
      header {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 1rem;
      }
      .container {
        max-width: 80%;
        margin: auto;
        padding: 2rem;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      }
      img {
        max-width: 100%;
        height: auto;
      }
      .container {
        margin: auto;
        padding: 2rem;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      }
      .card {
        display: flex;
        border: 1px solid #ccc;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: #fff;
      }
      .card img {
        max-width: 150px;
        height: auto;
        margin-right: 1rem;
      }
      .card-content {
        flex: 1;
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <header>
      <h1 style="color:aliceblue">Astro + Tina CMS demo session </h1>
    </header>
    <div class="container">
      <h2>{homepage.data.title}</h2>
      <p>
        <Content />
      </p>
      <img
        src={homepage.data.image}
        alt="Sample Image"
      />

    
    <Footer />
  </body>
</html>
